
.logoap{    display: inline;
    top: 5px;
    position: relative;
    width: 150px;
    height: auto;
   
}

a{
 
}
img{    
    top: 20px;
    position: relative;
   width: 60px;
    height: 60px;
}
.btn-primary{    
    position: relative;    
    margin: 10px;
    width: 80px;
    height: 40px;
    bottom: 5px;
    padding: 10px 10px;

   
}
.hder{
   background-color: blue;
    
    float: right;
}


