<div class="hard">
    <h1>Hard Skills</h1>
    <circle-progress
    [percent]="85"
    [radius]="90"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#004e92'"
    [innerStrokeColor]="'gray'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  <circle-progress
  [percent]="85"
  [radius]="90"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#004e92'"
  [innerStrokeColor]="'gray'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
<circle-progress
[percent]="85"
[radius]="90"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#004e92'"
[innerStrokeColor]="'gray'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="soft">
    <h1>Soft Skills</h1>
    <circle-progress
    [percent]="85"
    [radius]="90"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#004e92'"
    [innerStrokeColor]="'gray'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  <circle-progress
  [percent]="85"
  [radius]="90"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#004e92'"
  [innerStrokeColor]="'gray'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    <circle-progress
  [percent]="85"
  [radius]="90"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#004e92'"
  [innerStrokeColor]="'gray'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>