<div>
    <img src="../../../assets/avatarok.jpg" alt="" class="avatar">
</div>
<div>
    <p class="nombre">Martinez Marcelo Ricardo</p>
    <p class="info">Full Stack Developer Jr</p>
</div>
<div class="aboutme">
    <span><h1>Acerca de mi</h1>
        <p class="sobremi">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit qui modi sequi corporis beatae non? Et, fugit nemo incidunt quam earum, dicta, rerum delectus rem corporis assumenda saepe consequatur tempora!</p>
    </span>
</div>

