div{
    display: flex;
    color: white;
}
.aboutme{
    bottom:160px;
    position: relative;
    display: flex;
    text-align: center;    
}
.avatar{
    border-radius: 50%;
    background-color: aquamarine;
    position: relative;
    bottom: 130px;
    width: 150px;
    height: auto;
}

.nombre{
    font-size: 25px;
    position: relative;
    font-weight: bold;
    left: 170px;
    bottom: 260px;
}
.info{position: relative;
    font-size: 20px;
    right: 95px;
    bottom: 200px;
}