div{
    display: flex;
    color: white;
}
.aboutme{
    padding: 20px 20px;
    bottom:160px;
    position: relative;
    display: flex;
    text-align: center;    
}
.avatar{
    border-radius: 50%;
    background-color: cyan;
    position: relative;
    bottom: 130px;
    width: 150px;
    height: auto;
}

.contenedor{
    display: block;
    position: relative;
    text-align: center;
    bottom: 100px;
    
}
.nombre{
    font-size: 25px;
    font-weight: bold;
    position: relative;
text-align: center;
}
.info{margin-bottom: 50px;
    bottom: 15px;
    position: relative;
text-align: center;
}