<div>
    <h1>Experiencia Laboral</h1>
    <ul>
       
        <li>
            <h1>Ventas de Productos Electronicos.</h1>
            <h3>(3meses)</h3>
            <p>Durante este periodo trabaje en atencion al publico en venta perifericos, componente,
                 armado y ventas de PCs.</p>
        </li>
        <li>
            <h1>Tecnico de PC.</h1>
            <h3>(10años)</h3>
            <p>Realice de manera independiente manteniento de equipos, armado, 
                instalacion de sistemas y venta de algunos componentes. ademas de
                 esto mantenimiento de red, y configuracion de red</p>
        </li>

        <li>
            <h1>Diseño grafico(textil).</h1>
            <h3>(1años)</h3>
            <p>realizo diseños de imagenes vectorizadas para de indumentaria deportiva y armado de molderia
            entre otras cosas.</p>
        </li>
    </ul>
</div>