<div>
    <h1>Estudios</h1>
    <ul>
       
        <li>
            <h1>Estudios secundarios</h1>
            <h3>(completo)</h3>
            <p>"ECONOMIA Y GESTION DE LAS ORGANIZACIONES"</p>
        </li>
        <li>
            <h1>Tecnicatura en informatica</h1>
            <h3>(completo)</h3>
            <p>"TECNICATURA EN TECNOLOGIA ESP. EN REDES Y SEGURIDAD INFORMATICA</p>
        </li>

        <li>
            <h1>Tecnico</h1>
            <h3>(completo)</h3>
            <p>"TECNICO EN REPARACION DE PC"</p>
        </li>
        <li>
            <h1>Capacitacion</h1>
            <h3>(completo)</h3>
            <p>"TECNICO EN REDES"</p>
        </li>
    
        <li>
           <h1>Capacitacion</h1>
           <h3>(completo)</h3>
           <p>"CURSO DE CAPACITACION DE CUSTODIOS Y PERSONAL ESPECIALIZADO EN SEGURIDAD PRIVADA"</p>
        </li>
        <li>
            <h1>Estudios Universitario</h1>
            <h3>(Pendiente)</h3>
            <p>"TECNICATURA UNIVERSITARIA EN ELECTRONICA"</p>
        </li>
</ul>
</div>